* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  flex: 1;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(rgb(121, 121, 121), #000000)
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid black;
  flex: 1;
}
.navbar a{
  color: rgb(255, 255, 255);
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  margin-top: 10px;
  display: inline;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  color: #fff;
  text-decoration: none;
}
p {
  color: rgb(255, 255, 255);
}
.img-cart{
  width: 100px;
  height: auto;
}
.logo{
  width: 70px;
  height: auto;
}
.menu-icon{
  width: 70px;
  height: 70px;
  margin-left: 0;
  display: none;
}
/*---media query for menu---*/
@media only screen and (max-width: 800px) {
  .logo{
    display: block;
  }
  .img-cart{
    display: block;
    padding-left: 70px;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
  .row{
    text-align: center;
  }
  .single-product .row{
    text-align: left;
  }
  .single-product .col-2{
    padding: 20px 0;
  }
  .single-product h1{
    font-size: 26px;
    line-height: 22px;
  }
  .single-product img{
    flex-basis: 100%;
    width: 100%;
    height: 100%;
  }
  nav ul{
    position: absolute;
    top: auto;
    right: 50px;
    background: transparent;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: rgb(255, 255, 255);
  }
}

/*---media query for less than 600 screen size---*/
@media only screen and (max-width: 600px){
  .img-cart{
    display: block;
    padding-left: 70px;
  }
  .row{
    text-align: center;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100%;
    width: 100%;
    height: 100%;
  }
  nav ul{
    position: absolute;
    top: auto;
    left: 0;
    background: transparent;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .single-product img{
    flex-basis: 100%;
    width: 100%;
    height: 100%;
  }
}
.container {
  flex: 1;
  max-width: 1300px;
  margin: auto;
  padding-left:25px;
  padding-right:25px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items:  center;
  justify-content: space-around;
}
.col-2 {
  padding-left: 25px;
  padding-right: 25px;
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{ 
  padding-right: 25px;
  padding-left: 25px;
  width: 1080;
  height: 1440;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: #000000;
  color: #fff;
  padding: 8px 30px;
  margin: 10px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #423f3f;
}
.header {
  flex: 1;
}
.header .row {
  margin-top: 70px;
}
.small-container {
 padding-left: 25px;
 padding-right: 25px;
 width: 100%;
 height: auto;
}







/*--- Single product details---*/
.single-product{
  margin-top: 80px;
  max-width: 1080px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.single-product col-2{
  padding: 20px;
}
.single-product h4{
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}
.single-product h1{
  margin-top: 1px;
  margin-bottom: 0px;
}
.single-product select{
  display: block;
  padding: 10px;
  margin-top: 25px;
  align-items: center;
  color: #fff;
  background: #423f3f;
  border: 1px solid black;
}
.single-product input{
  width: 50px;
  height: 40px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #000;
  background: #423f3f;
  color: #fff;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input:focus{
  outline: none;
}
input .add-to-cart{
  width: 100px;
  height: 100px;
}
.single-product .fa{
  margin-left: 10px;
}
.single-product h3{
  margin-top: 50px;
}
.single-product p{
  margin-top: 7px;
}
.swiper{
  width: 100%;
  height: fit-content;
}
.swiper-slide img{
  padding-right: 10px;
  padding-left: 10px;
  max-width: 100%;
  width: 600px;
  height: 400px;
  margin-bottom: 0px;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
  color: #000;
  padding-left: 20px;
  padding-right: 20px;
}
.swiper .swiper-pagination-bullet-active{
  background: #000;
}

.buy-button {
  display: flex 1;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

.price {
  display: flex;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.snipcart-checkout {
  display: flex;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 24px;
  border:none;
  border-radius :30px;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  background-color: #000;
}

.snipcart-add-item {
  display: flex;
  color: #fff;
  color: var(--color-buttonPrimary,#fff);
  border-color: transparent;
  border-color: var(--borderColor-buttonPrimary,transparent);
  background-color: #000000;
  background-color: var(--bgColor-buttonPrimary,#000000);
  padding: 15px;
  border: 0px solid;
  border-radius :25px;
  cursor: pointer;
  transition: .3s ease-out;
  transition-property: color,border-color,background-color,box-shadow;
  margin-left: 0px;
}

svg {
  padding: 6px;
}
/*--- END Single product details---*/







/*--- Related Products---*/
.row-2{
  margin-bottom: 80px;
  padding-right: 25px;
  border-top: 2px solid black;
}
.col-4 {
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
  margin-bottom: 80px;
  min-width: 200px;
  transition: transform 0.5s;
}
.col-4 img {
 flex: 1;
 max-width: 100%;
 width: 100%;
 height: 100%;
}
.title {
  text-align: left;
  position: relative;
  line-height: 60px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 23px;
}
.title::after{
  content: '';
  background: #8a8787;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%)
}
.related-products a{
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 80px;
  text-align: right;
}

.col-4 h2 {
  color: #555;
  font-weight: normal;
  margin-top: 100px;
}
.col-4 p{
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.rating .fa{
  color: #000000;
}
.col-4:hover{
  transform: translateY(-5px);
}
/*--- END Related Products---*/





/*---footer---*/
.footer{
  flex: 1;
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin: 25px 0;
}
.footer a{
  color: #555;
}
.footer-col-1, .footer-col-2{
  min-width: 250px;
  margin-bottom: 20px;
  flex: 1;
}
.footer-col-1{
  flex-basis: 30%;
  color: #8a8a8a;
}
.footer-col-2{
  flex: 1;
  text-align: center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.copyright{
  text-align: center;
}
.footer img {
  width: 350px;
  height:  350px;
}
/*---END footer---*/